@mixin bg-gradient() {
    background: $primary-bg-1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $primary-bg-1, $primary-bg-2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $primary-bg-1, $primary-bg-2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $primary-bg-1, $primary-bg-2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $primary-bg-1, $primary-bg-2); /* Standard syntax */
}

@mixin bg-gradient-light() {
    background: $base; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $base, #d0e5ed); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $base, #d0e5ed); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $base, #d0e5ed); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $base, #d0e5ed); /* Standard syntax */
}
