.bg-image{
    position:absolute;
    width:100%;
    z-index:1;
    height:100%;
    /*overflow:hidden;*/

    img{
        width:100%;
    }
}
.container{
    padding-top:2em;
    position:relative;
    z-index:2;
}

.table{
  display:table;
     > div:first-child {
                text-align: left;
            }
     > div {
                display: table-cell;
                vertical-align: middle;
                padding: 1em;
                text-align: right;
            }
}

.table-titles {
        > div {
            padding: 1em;
            width: 15em;
            display: table-cell;
             text-align: right;
        }

     > div:first-child {
                text-align: left;
            }

}