.button{
    display:inline-block;
    padding:0 2em;
    background:$button-gradient-2;
    background: -webkit-linear-gradient(180deg, $button-gradient-1, $button-gradient-2);
    background: -o-linear-gradient(180deg, $button-gradient-1, $button-gradient-2);
    background: linear-gradient(180deg, $button-gradient-1, $button-gradient-2);
    color:$primary;
    height:2.5em;
    line-height:2.5em;
    text-transform:uppercase;
    min-width:10em;
}
.bg-image {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
    /*overflow:hidden;*/
    img {
        width: 100%;
    }
}

.container {
    padding-top: 2em;
    position: relative;
    z-index: 2;
    width:95%;
    margin:0 auto;
}

.table {
    width:100%;

    > div:first-child {
        text-align: left;
    }

    > div {
        display: inline-block;
        vertical-align: middle;
        padding: 1em;
        text-align: right;
        @include breakpoint($desktop){
            width:20%;
       }
        @include breakpoint($desktop-max){
                     width:25%;
            }
    }
}

.table-titles {
    width:100%;
    text-transform:uppercase;
    > div {
        padding: 1em;
             @include breakpoint($desktop){
            width:20%;
       }
        @include breakpoint($desktop-max){
                     width:25%;
            }
        display: inline-block;
        text-align: right;
    }

    > div:first-child {
        text-align: left;
    }
}

.file-upload {
    display: inline-block;
    vertical-align: middle;
    padding-right:2em;
}

.filter {
    display: inline-block;
    vertical-align: middle;

    > div {
        display: inline-block;
        vertical-align: bottom;
        padding-right:2em;
        margin-top:0.5em;
    }
}

select{
    margin-top:0.5em !important;
    width:10em;
    height:2.5em;
    padding:0 0.5em;
    font-weight:600;
    color:$text;
}

.error{
    color:red;
}

