.daily-wage-list {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    width: 100%;
    background:rgba($background, 0.4);
    color:$primary;
    padding:1em 1em 0 1em;

    table {
        width: 100%;
        text-align: center;

        tbody, thead {
            tr {
                border-bottom: 1px solid rgba($border, 0.1);

                td, th {
                    text-align: center;
                    vertical-align: middle;
                    padding: 0.3em;
                    font-size:0.8em;
                }
            }
        }

        tbody{
            tr:last-child{
                border-bottom:none;
            }
        }
    }
}
