footer {
    border-top: 1px solid $divider-dark;

    .main{
        position:relative;
            @include breakpoint($tab) {
        padding: 3em 2em 0 2em;
    }

    @include breakpoint($tab-max) {
        padding: 1em 1em 0 1em;
    }
    }

    .content{
          @include breakpoint($tab) {
        width:70%;
        }
        @include breakpoint($tab-max) {
            width:100%;
            }
    }

    .image {
        height: 100%;
        position:absolute;
        width:30%;
        right:2em;
        top:0;
        background-image: image-url("phone-footer.png");
        background-image: image-url("phone-footer.svg");
        background-position: right bottom;
        background-repeat: no-repeat;
    }

      @include breakpoint($tab-max) {
       .image{
           display:none;
       }
    }

    .some {
        margin-bottom: 2em;

        .title {
            margin-bottom: 2em;
        }

        a:nth-child(2) {
            margin: 0 1em;
        }
    }

    .links > div {
        width: 50%;
        float: left;

        .title{
            margin-bottom:0.5em;
        }

        a {
            color: $footer-links;
            display: block;
            font-weight:400;
        }

        margin-bottom:2em;
    }

    .links > div:first-child{
         @include breakpoint($tab-wide) {
        padding-right:6em;
        }
            @include breakpoint($tab-wide-max) {
        padding-right:3em;
        }

            img{
                margin-top:0.5em;
            }
    }

    .copyright{
        text-align:center;
        padding:1em;
        background-color:$base;
        color:$primary;
    }
}
