.person-list {
    margin-top: 1em;
    background: rgba($table-background, 0.8);
    border-radius: 1em;
    @include breakpoint($tab-wide){
            padding: 1em 2em;
    }
    @include breakpoint($tab-wide-max){
            padding: 1em 0.5em;
    }
    color: $text;

    .person:last-child {
        border: none;
    }

    .person:nth-child(2) {
        border-top: 1px solid $border;
    }

    .person {
        border-bottom: 1px solid $border;

        .table {
            > div:first-child {
                font-weight: 800;
                font-size:1.1em;
            }
        }
    }
}
