/*$primary: #435363;*/
/*$primary:#3E5A75;*/
$primary:#295074;
$primary-bg:#21415E;
$primary-bg-1:darken(#21415E, 3%);
$primary-bg-2:lighten(#21415E, 15%);
$secondary: #d60057;
$text-1:#78838F;
$text-dark-section:#ffffff;
$base:#ffffff;
$button-color-main:#295074;
$button-color-secondary:#d60057;
$button-text:#ffffff;
$header-bg-color:#ffffff;
$header-color:#21415E;
$slider-bg:#d2d2d2;
$button-shadow:#cfd3d5;
$button-shadow-dark:#374452;
$divider:#99a4ae;
$bg-color:#fafafa;
$border-dark-section:#99a4ae;
$button-color-light:#a4c6d3;
$button-color-light-hover:lighten($button-color-light, 15%);
$divider-dark:#86909a;
$footer-links:#858e99;
$side-nav-bg:#ebeced;
$popup-bg:#fff9f2;
$calendar:#003B71;
$input-focus:lighten(#FF5000, 20%);
$error:#D60057;
$border:darken(#295074, 8%);